name: Stellar Expert WASM Release

permissions:
  id-token: write
  contents: write
  attestations: write

on:
  push:
    tags:
      - 'v*'  # triggered whenever a new tag (previxed with "v") is pushed to the repository

jobs:
  release-contract-bridge-oracle:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name }}
      release_description: 'OrbitCDP Bridge Oracle Release'
      package: 'bridge-oracle'
      make_target: 'build'
    secrets:
      release_token: ${{ secrets.GITHUB_TOKEN }}

  release-contract-pool:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name }}
      release_description: 'OrbitCDP DAO Utils Release'
      package: 'dao-utils'
      make_target: 'build'
    secrets:
      release_token: ${{ secrets.GITHUB_TOKEN }}

  release-contract-treasury:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name }}
      release_description: 'OrbitCDP Treasuryh Release'
      package: 'treasury'
      make_target: 'build'
    secrets:
      release_token: ${{ secrets.GITHUB_TOKEN }}
